 .u-section-1 {
  background-image: none;
  min-height: 772px;
}

.u-section-1 .u-image-1 {
  height: 551px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1125px;
  margin: -141px calc(((100% - 1140px) / 2) + 1px) 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 295px;
  background-image: linear-gradient(89deg, white, rgba(241,181,184,0.56));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 30px auto 0;
  padding: 16px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px 12px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 10px 12px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 295px;
  background-image: linear-gradient(89deg, white, rgba(63,145,111,0.73));
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 35px;
}

.u-section-1 .u-icon-2 {
  width: 77px;
  height: 77px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 295px;
  background-image: linear-gradient(89deg, white, #4c7397);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 20px auto 0;
  padding: 16px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 30px 10px 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 10px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 246px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1355px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1555px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1036px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px 848px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -28px 278px 0 570px;
}

.u-section-2 .u-group-1 {
  width: 525px;
  min-height: 368px;
  height: auto;
  margin: 30px auto 0 45px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 525px;
  min-height: 368px;
  height: auto;
  margin: -368px 15px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px 848px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -28px 278px 0 570px;
}

.u-section-2 .u-group-3 {
  width: 525px;
  min-height: 368px;
  height: auto;
  margin: 30px auto 0 45px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  width: 525px;
  min-height: 368px;
  height: auto;
  margin: -368px 15px 60px auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 648px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 178px;
    margin-left: 470px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 648px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 178px;
    margin-left: 470px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 428px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 68px;
    margin-left: 360px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 428px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 68px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 248px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 248px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 248px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 248px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 48px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 48px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 48px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 546px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 756px;
  margin: 47px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 60px 0 0;
}

.u-section-3 .u-form-1 {
  height: 312px;
  width: 320px;
  margin: 21px 0 0;
}

.u-section-3 .u-input-1 {
  height: 55px;
  background-image: none;
}

.u-section-3 .u-input-2 {
  height: 55px;
  background-image: none;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 453px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  object-position: 74.65% 50%;
  height: 385px;
  width: 385px;
  margin: 6px -7px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    width: 318px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 74.65% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-3 .u-form-1 {
    width: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-3 .u-image-1 {
    height: 360px;
    width: 360px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 590px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    width: 340px;
  }
}