 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/static/images/273632205-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-1 .u-form-1 {
  height: 355px;
  width: 506px;
  margin: 53px auto 0;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-label-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 14px 30px 15px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  align-self: center;
  margin: -17px 401px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1rem;
  margin: -26px auto 0 380px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -396px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 201px;
    margin-left: 606px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 429px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 73px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }
}